.navbar {
  transition: all 0.4s ease-in-out;
  padding: 1.2rem 0;
  background-color: transparent !important;
}

.navbar-scrolled {
  background-color: #000000 !important;
  /* Premium black background */
  padding: 0.8rem 0;
  box-shadow: 0 4px 20px rgba(255, 107, 0, 0.2);
}

.navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.nav-link:hover,
.nav-link.active {
  color: #ff6b00 !important;
}

.navbar-nav {
  gap: 12px;
}