<div class="container-fluid p-0">
  <div class="row g-0 h-100">
    <!-- LEFT SIDE -->
    <div class="col-lg-6 left-side d-none d-lg-block">
      <div
        class="overlay-left d-flex align-items-center justify-content-center text-white text-center"
      >
        <!-- Optional left content -->
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div
      class="col-lg-6 right-side d-flex align-items-center justify-content-center"
    >
      <div class="card login-card border-0 p-5">
        <!-- Title Section -->
        <div class="text-center mb-4">
          <div class="company-logo mt-2">
            <img
              src="/btLogo.png"
              alt="Bonton Softwares Pvt Ltd"
              class="logo-img"
              style="max-height: 100px"
            />
          </div>
          <h3 class="fw-bold text-warning">Vehicle Tracking System</h3>
        </div>

        <!-- Login Form -->
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <!-- Username -->
          <div class="mb-4">
            <label class="form-label text-light small">Username</label>
            <input
              type="text"
              class="form-control custom-input"
              name="username"
              [(ngModel)]="loginData.username"
              required
              placeholder="Enter username"
            />
          </div>

          <!-- Password -->
          <div class="mb-2 position-relative">
            <label class="form-label text-light small">Password</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control custom-input"
              name="password"
              [(ngModel)]="loginData.password"
              required
              placeholder="Enter your password"
            />

            <!-- Toggle Eye Icon -->
            <span class="password-toggle" (click)="togglePassword()">
              <i
                class="bi"
                [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
              >
              </i>
            </span>
          </div>

          <!-- Forgot Password -->
          <div class="text-end mb-4">
            <a href="#" class="text-info small text-decoration-none">
              Forgot password?
            </a>
          </div>

          <!-- Sign In Button -->
          <button
            class="btn btn-primary w-100 py-2"
            [disabled]="!loginForm.valid"
          >
            Sign In
          </button>

          <!-- Moving Truck -->
          <div class="truck-container mt-4">
            <div class="road"></div>

            <div class="truck-wrapper" [class.move]="startTruck">
              <i class="bi bi-truck truck-body"></i>
              <div class="wheel wheel-front"></div>
              <div class="wheel wheel-back"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
